.section {
  margin-left: clamp(540px, 45vw, 1200px);
  margin-bottom: 40px;
  width: clamp(542px, 55vw, 1200px);
  padding-right: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 55vw;
  height: 330px;
  background: #00a7ff;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 45%;
  transform: translateY(-40px);
  filter: opacity(0);
  -webkit-animation: a-title 1s ease-in 1 5s forwards normal;
  -moz-animation: a-title 1s ease-in 1 5s forwards normal;
  -ms-animation: a-title 1s ease-in 1 5s forwards normal;
  -o-animation: a-title 1s ease-in 1 5s forwards normal;
  animation: a-title 1s ease-in 1 5s forwards normal;
}
@keyframes a-title {
  0% {
    top: -200px;
    filter: opacity(0);
  }
  100% {
    top: 40px;
    filter: opacity(1);
  }
}
@keyframes a-whoami {
  0% {
    margin-top: 40px;
    filter: opacity(0);
  }
  100% {
    margin-top: 0px;
    filter: opacity(1);
  }
}
@keyframes a-info {
  0% {
    transform: translateX(100px);
    filter: opacity(0);
  }
  100% {
    transform: translateX(0px);
    filter: opacity(1);
  }
}

.title {
  width: 100px;
  height: 60px;
  background: #00a7ff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position: absolute;
  top: 20px;
  left: -30px;
}
.title:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  left: 6px;
  box-shadow: 0 0 10px 3px #7caeff;
  border-radius: 50%;
}

.title--about {
  filter: opacity(0);
  -webkit-animation: a-title 1s ease-in 1 5s forwards normal;
  -moz-animation: a-title 1s ease-in 1 5s forwards normal;
  -ms-animation: a-title 1s ease-in 1 5s forwards normal;
  -o-animation: a-title 1s ease-in 1 5s forwards normal;
  animation: a-title 1s ease-in 1 5s forwards normal;
}
@keyframes a-title {
  0% {
    top: -200px;
    filter: opacity(0);
  }
  100% {
    top: 40px;
    filter: opacity(1);
  }
}
@keyframes a-whoami {
  0% {
    margin-top: 40px;
    filter: opacity(0);
  }
  100% {
    margin-top: 0px;
    filter: opacity(1);
  }
}
@keyframes a-info {
  0% {
    transform: translateX(100px);
    filter: opacity(0);
  }
  100% {
    transform: translateX(0px);
    filter: opacity(1);
  }
}

.whoami {
  width: 97%;
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: justify;
  color: #4d4d4d;
  padding: 0 30px;
}
.whoami * {
  color: white;
}
.whoami h1 {
  font-size: 3.5rem;
  margin-bottom: 20px;
  filter: opacity(0);
  -webkit-animation: a-whoami 0.5s ease-in 1 6s forwards normal;
  -moz-animation: a-whoami 0.5s ease-in 1 6s forwards normal;
  -ms-animation: a-whoami 0.5s ease-in 1 6s forwards normal;
  -o-animation: a-whoami 0.5s ease-in 1 6s forwards normal;
  animation: a-whoami 0.5s ease-in 1 6s forwards normal;
}
@keyframes a-title {
  0% {
    top: -200px;
    filter: opacity(0);
  }
  100% {
    top: 40px;
    filter: opacity(1);
  }
}
@keyframes a-whoami {
  0% {
    margin-top: 40px;
    filter: opacity(0);
  }
  100% {
    margin-top: 0px;
    filter: opacity(1);
  }
}
@keyframes a-info {
  0% {
    transform: translateX(100px);
    filter: opacity(0);
  }
  100% {
    transform: translateX(0px);
    filter: opacity(1);
  }
}
.whoami p {
  filter: opacity(0);
  -webkit-animation: a-whoami 0.5s ease-in 1 6.4s forwards normal;
  -moz-animation: a-whoami 0.5s ease-in 1 6.4s forwards normal;
  -ms-animation: a-whoami 0.5s ease-in 1 6.4s forwards normal;
  -o-animation: a-whoami 0.5s ease-in 1 6.4s forwards normal;
  animation: a-whoami 0.5s ease-in 1 6.4s forwards normal;
  line-height: 30px;
  font-size: 1rem;
}
@keyframes a-title {
  0% {
    top: -200px;
    filter: opacity(0);
  }
  100% {
    top: 40px;
    filter: opacity(1);
  }
}
@keyframes a-whoami {
  0% {
    margin-top: 40px;
    filter: opacity(0);
  }
  100% {
    margin-top: 0px;
    filter: opacity(1);
  }
}
@keyframes a-info {
  0% {
    transform: translateX(100px);
    filter: opacity(0);
  }
  100% {
    transform: translateX(0px);
    filter: opacity(1);
  }
}

.bio {
  width: 100%;
  padding-left: 30px;
  margin-top: 7vw;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
}

.bio__img {
  width: clamp(200px, 35%, 1200px);
  position: relative;
  filter: opacity(0);
  -webkit-animation: a-info 0.5s ease-in 1 7s forwards normal;
  -moz-animation: a-info 0.5s ease-in 1 7s forwards normal;
  -ms-animation: a-info 0.5s ease-in 1 7s forwards normal;
  -o-animation: a-info 0.5s ease-in 1 7s forwards normal;
  animation: a-info 0.5s ease-in 1 7s forwards normal;
}
@keyframes a-title {
  0% {
    top: -200px;
    filter: opacity(0);
  }
  100% {
    top: 40px;
    filter: opacity(1);
  }
}
@keyframes a-whoami {
  0% {
    margin-top: 40px;
    filter: opacity(0);
  }
  100% {
    margin-top: 0px;
    filter: opacity(1);
  }
}
@keyframes a-info {
  0% {
    transform: translateX(100px);
    filter: opacity(0);
  }
  100% {
    transform: translateX(0px);
    filter: opacity(1);
  }
}
.bio__img:before, .bio__img:after {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  border: 3px solid #00a7ff;
  border-radius: 20px;
  z-index: -1;
}
.bio__img:before {
  top: -10px;
  left: -10px;
  border: 6px solid #00a7ff;
}
.bio__img:after {
  bottom: -10px;
  right: -10px;
}
.bio__img img {
  width: 100%;
  height: 300px;
  border-radius: 20px;
}

.bio__data {
  display: flex;
  width: clamp(350px, 50%, 900px);
  height: 100%;
  align-items: center;
  justify-content: space-around;
  position: relative;
  filter: opacity(0);
  filter: opacity(0);
  -webkit-animation: a-info 0.5s ease-in 1 7s forwards normal;
  -moz-animation: a-info 0.5s ease-in 1 7s forwards normal;
  -ms-animation: a-info 0.5s ease-in 1 7s forwards normal;
  -o-animation: a-info 0.5s ease-in 1 7s forwards normal;
  animation: a-info 0.5s ease-in 1 7s forwards normal;
}
@keyframes a-title {
  0% {
    top: -200px;
    filter: opacity(0);
  }
  100% {
    top: 40px;
    filter: opacity(1);
  }
}
@keyframes a-whoami {
  0% {
    margin-top: 40px;
    filter: opacity(0);
  }
  100% {
    margin-top: 0px;
    filter: opacity(1);
  }
}
@keyframes a-info {
  0% {
    transform: translateX(100px);
    filter: opacity(0);
  }
  100% {
    transform: translateX(0px);
    filter: opacity(1);
  }
}

.bio__item {
  margin: 40px 0;
}
.bio__item label {
  font-weight: bold;
  font-size: 1.1rem;
  color: #00a7ff;
}
.bio__item p {
  color: #4d4d4d;
  margin: 10px 0;
}

.about-skill {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.about-card {
  width: clamp(150px, 30%, 300px);
  height: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #f2f2f2;
  filter: opacity(0);
  -webkit-animation: a-whoami 0.7s ease-in 1 8s forwards normal;
  -moz-animation: a-whoami 0.7s ease-in 1 8s forwards normal;
  -ms-animation: a-whoami 0.7s ease-in 1 8s forwards normal;
  -o-animation: a-whoami 0.7s ease-in 1 8s forwards normal;
  animation: a-whoami 0.7s ease-in 1 8s forwards normal;
}
@keyframes a-title {
  0% {
    top: -200px;
    filter: opacity(0);
  }
  100% {
    top: 40px;
    filter: opacity(1);
  }
}
@keyframes a-whoami {
  0% {
    margin-top: 40px;
    filter: opacity(0);
  }
  100% {
    margin-top: 0px;
    filter: opacity(1);
  }
}
@keyframes a-info {
  0% {
    transform: translateX(100px);
    filter: opacity(0);
  }
  100% {
    transform: translateX(0px);
    filter: opacity(1);
  }
}
.about-card:nth-child(2) {
  filter: opacity(0);
  -webkit-animation: a-whoami 0.7s ease-in 1 8.2s forwards normal;
  -moz-animation: a-whoami 0.7s ease-in 1 8.2s forwards normal;
  -ms-animation: a-whoami 0.7s ease-in 1 8.2s forwards normal;
  -o-animation: a-whoami 0.7s ease-in 1 8.2s forwards normal;
  animation: a-whoami 0.7s ease-in 1 8.2s forwards normal;
}
@keyframes a-title {
  0% {
    top: -200px;
    filter: opacity(0);
  }
  100% {
    top: 40px;
    filter: opacity(1);
  }
}
@keyframes a-whoami {
  0% {
    margin-top: 40px;
    filter: opacity(0);
  }
  100% {
    margin-top: 0px;
    filter: opacity(1);
  }
}
@keyframes a-info {
  0% {
    transform: translateX(100px);
    filter: opacity(0);
  }
  100% {
    transform: translateX(0px);
    filter: opacity(1);
  }
}
.about-card:nth-child(3) {
  filter: opacity(0);
  -webkit-animation: a-whoami 0.7s ease-in 1 8.5s forwards normal;
  -moz-animation: a-whoami 0.7s ease-in 1 8.5s forwards normal;
  -ms-animation: a-whoami 0.7s ease-in 1 8.5s forwards normal;
  -o-animation: a-whoami 0.7s ease-in 1 8.5s forwards normal;
  animation: a-whoami 0.7s ease-in 1 8.5s forwards normal;
  border: none;
}
@keyframes a-title {
  0% {
    top: -200px;
    filter: opacity(0);
  }
  100% {
    top: 40px;
    filter: opacity(1);
  }
}
@keyframes a-whoami {
  0% {
    margin-top: 40px;
    filter: opacity(0);
  }
  100% {
    margin-top: 0px;
    filter: opacity(1);
  }
}
@keyframes a-info {
  0% {
    transform: translateX(100px);
    filter: opacity(0);
  }
  100% {
    transform: translateX(0px);
    filter: opacity(1);
  }
}
.about-card > .f-icon {
  width: clamp(50px, 4vw, 80px);
  height: clamp(50px, 4vw, 80px);
  color: #00a7ff;
}
.about-card h1 {
  margin-top: 40px;
  font-size: 24px;
  color: #4d4d4d;
}
.about-card p {
  color: #4d4d4d;
  margin: 10px 0;
}

/*# sourceMappingURL=about.css.map */
