@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  padding: 0;
  font-family: "Lato", sans-serif;
  background: #ffffff;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #ff0000;
}

.container {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  padding: 0;
}

.main-panel {
  position: fixed;
  top: 0;
  left: 0;
  width: clamp(500px, 45vw, 1200px);
  height: 100%;
  padding-left: 30px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/IMG/car.jpg);
  background-position: center;
  background-size: cover;
  overflow: hidden;
  box-shadow: 0 0 10px 3px #b4b4b4;
}
.main-panel img {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mp-content {
  margin-top: 40vh;
  color: white;
}
.mp-content h1 {
  font-size: clamp(3rem, 4.5vw, 4rem);
  -webkit-animation: title 2s ease-in-out 0s backwards;
  -moz-animation: title 2s ease-in-out 0s backwards;
  -ms-animation: title 2s ease-in-out 0s backwards;
  -o-animation: title 2s ease-in-out 0s backwards;
  animation: title 2s ease-in-out 0s backwards;
}
@keyframes title {
  0% {
    transform: translateX(-1000px);
    filter: blur(10px);
  }
  100% {
    transform: translateX(0);
    filter: blur(0px);
  }
}
@keyframes button {
  0% {
    transform: translateY(100px);
    filter: opacity(0);
  }
  100% {
    transform: translateY(0);
    filter: opacity(1);
  }
}
@keyframes footer {
  0% {
    transform: translateX(400px);
  }
  100% {
    transform: translateX(0);
  }
}
.mp-content p {
  color: #00a7ff;
  font-size: clamp(2rem, 3vw, 3rem);
  font-weight: bold;
  -webkit-animation: title 2s ease-in-out 0.2s backwards;
  -moz-animation: title 2s ease-in-out 0.2s backwards;
  -ms-animation: title 2s ease-in-out 0.2s backwards;
  -o-animation: title 2s ease-in-out 0.2s backwards;
  animation: title 2s ease-in-out 0.2s backwards;
}
@keyframes title {
  0% {
    transform: translateX(-1000px);
    filter: blur(10px);
  }
  100% {
    transform: translateX(0);
    filter: blur(0px);
  }
}
@keyframes button {
  0% {
    transform: translateY(100px);
    filter: opacity(0);
  }
  100% {
    transform: translateY(0);
    filter: opacity(1);
  }
}
@keyframes footer {
  0% {
    transform: translateX(400px);
  }
  100% {
    transform: translateX(0);
  }
}

.mp-btn {
  margin: 40px 0;
  display: flex;
  align-items: center;
}
.mp-btn > div {
  width: max-content;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  margin-right: 20px;
  background: #00a7ff;
  border-radius: 4px;
  cursor: pointer;
  -webkit-animation: button 1s ease-in-out 2s backwards;
  -moz-animation: button 1s ease-in-out 2s backwards;
  -ms-animation: button 1s ease-in-out 2s backwards;
  -o-animation: button 1s ease-in-out 2s backwards;
  animation: button 1s ease-in-out 2s backwards;
}
@keyframes title {
  0% {
    transform: translateX(-1000px);
    filter: blur(10px);
  }
  100% {
    transform: translateX(0);
    filter: blur(0px);
  }
}
@keyframes button {
  0% {
    transform: translateY(100px);
    filter: opacity(0);
  }
  100% {
    transform: translateY(0);
    filter: opacity(1);
  }
}
@keyframes footer {
  0% {
    transform: translateX(400px);
  }
  100% {
    transform: translateX(0);
  }
}
.mp-btn > div:nth-child(2) {
  background: transparent;
  border: 1px solid white;
  -webkit-animation: button 1s ease-in-out 2.3s backwards;
  -moz-animation: button 1s ease-in-out 2.3s backwards;
  -ms-animation: button 1s ease-in-out 2.3s backwards;
  -o-animation: button 1s ease-in-out 2.3s backwards;
  animation: button 1s ease-in-out 2.3s backwards;
}
@keyframes title {
  0% {
    transform: translateX(-1000px);
    filter: blur(10px);
  }
  100% {
    transform: translateX(0);
    filter: blur(0px);
  }
}
@keyframes button {
  0% {
    transform: translateY(100px);
    filter: opacity(0);
  }
  100% {
    transform: translateY(0);
    filter: opacity(1);
  }
}
@keyframes footer {
  0% {
    transform: translateX(400px);
  }
  100% {
    transform: translateX(0);
  }
}
.mp-btn > div a {
  color: white;
  text-decoration: none;
}

.f-icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  color: white;
}

.mp-footer {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  -webkit-animation: footer 0.5s ease-in-out 3.2s backwards;
  -moz-animation: footer 0.5s ease-in-out 3.2s backwards;
  -ms-animation: footer 0.5s ease-in-out 3.2s backwards;
  -o-animation: footer 0.5s ease-in-out 3.2s backwards;
  animation: footer 0.5s ease-in-out 3.2s backwards;
}
@keyframes title {
  0% {
    transform: translateX(-1000px);
    filter: blur(10px);
  }
  100% {
    transform: translateX(0);
    filter: blur(0px);
  }
}
@keyframes button {
  0% {
    transform: translateY(100px);
    filter: opacity(0);
  }
  100% {
    transform: translateY(0);
    filter: opacity(1);
  }
}
@keyframes footer {
  0% {
    transform: translateX(400px);
  }
  100% {
    transform: translateX(0);
  }
}
.mp-footer * {
  cursor: pointer;
}

.section--welcome {
  width: 55vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section--welcome h1 {
  font-size: 3rem;
  color: #4d4d4d;
}

.bounce-dot {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}
.bounce-dot div {
  width: 40px;
  height: 40px;
  background: #e6e6e6;
  -webkit-animation: bounce 0.75s ease-in infinite 0s forwards;
  -moz-animation: bounce 0.75s ease-in infinite 0s forwards;
  -ms-animation: bounce 0.75s ease-in infinite 0s forwards;
  -o-animation: bounce 0.75s ease-in infinite 0s forwards;
  animation: bounce 0.75s ease-in infinite 0s forwards;
}
@keyframes bounce {
  0% {
    border-radius: 50%;
    transform: scale(1);
    filter: opacity(0.8);
  }
  100% {
    border-radius: 50%;
    filter: opacity(1);
    transform: scale(1.1);
  }
}
@keyframes liftup {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100vh);
  }
}
.bounce-dot div:nth-child(2) {
  -webkit-animation: bounce 0.75s ease-in infinite 0.25s forwards;
  -moz-animation: bounce 0.75s ease-in infinite 0.25s forwards;
  -ms-animation: bounce 0.75s ease-in infinite 0.25s forwards;
  -o-animation: bounce 0.75s ease-in infinite 0.25s forwards;
  animation: bounce 0.75s ease-in infinite 0.25s forwards;
}
@keyframes bounce {
  0% {
    border-radius: 50%;
    transform: scale(1);
    filter: opacity(0.8);
  }
  100% {
    border-radius: 50%;
    filter: opacity(1);
    transform: scale(1.1);
  }
}
@keyframes liftup {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100vh);
  }
}
.bounce-dot div:nth-child(3) {
  -webkit-animation: bounce 0.75s ease-in infinite 0.5s forwards;
  -moz-animation: bounce 0.75s ease-in infinite 0.5s forwards;
  -ms-animation: bounce 0.75s ease-in infinite 0.5s forwards;
  -o-animation: bounce 0.75s ease-in infinite 0.5s forwards;
  animation: bounce 0.75s ease-in infinite 0.5s forwards;
}
@keyframes bounce {
  0% {
    border-radius: 50%;
    transform: scale(1);
    filter: opacity(0.8);
  }
  100% {
    border-radius: 50%;
    filter: opacity(1);
    transform: scale(1.1);
  }
}
@keyframes liftup {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100vh);
  }
}
.bounce-dot div:nth-child(4) {
  -webkit-animation: bounce 0.75s ease-in infinite 0.75s forwards;
  -moz-animation: bounce 0.75s ease-in infinite 0.75s forwards;
  -ms-animation: bounce 0.75s ease-in infinite 0.75s forwards;
  -o-animation: bounce 0.75s ease-in infinite 0.75s forwards;
  animation: bounce 0.75s ease-in infinite 0.75s forwards;
}
@keyframes bounce {
  0% {
    border-radius: 50%;
    transform: scale(1);
    filter: opacity(0.8);
  }
  100% {
    border-radius: 50%;
    filter: opacity(1);
    transform: scale(1.1);
  }
}
@keyframes liftup {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100vh);
  }
}

@media only screen and (max-width: 1280px) {
  /*  ABOUT US  */
  .main-panel {
    width: 47%;
  }

  .section {
    margin-left: clamp(500px, 47%, 1200px);
  }

  .whoami {
    width: 95%;
  }

  .bio__img img {
    height: 230px;
  }

  .bio__data {
    width: 60%;
    padding-left: 20px;
  }

  .about-card {
    width: clamp(150px, 33%, 300px);
  }
}
@media only screen and (max-width: 1048px) {
  .main-panel {
    position: relative;
    height: 700px;
    width: 100%;
    padding: 0;
  }

  .whoami {
    margin-bottom: 30px;
  }

  .mp-content {
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /*  ABOUT US  */
  .section {
    margin-left: 0;
    width: 100vw;
  }

  .bio {
    width: 80%;
    justify-content: space-around;
    padding: 0;
  }

  .bio__data {
    width: clamp(300px, 50%, 900px);
    padding-left: 60px;
  }
}
@media only screen and (max-width: 658px) {
  /*  ABOUT US  */
  .bio__img {
    width: clamp(200px, 90%, 1200px);
  }

  .bio__data {
    width: 100%;
    justify-content: space-around;
    padding: 0;
  }

  .whoami h1 {
    text-align: center;
    font-size: 2rem;
    margin-top: 30px;
  }

  .about-skill {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/IMG/car.jpg) no-repeat fixed center;
    background-size: cover;
    height: 200px;
    padding: 0;
  }

  .about-card {
    width: 100%;
    height: 100%;
    border: none;
    justify-content: center;
  }
  .about-card > .f-icon *,
.about-card h1 {
    color: white;
  }
  .about-card p {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  /*    Main      */
  .mp-content h1 {
    font-size: clamp(2.4rem, 10vw, 3rem);
    letter-spacing: 1px;
  }

  .mp-btn {
    flex-direction: column;
  }
  .mp-btn > div {
    margin: 10px 0;
  }

  /*  ABOUT US  */
  .about-card {
    border-right: 2px solid white;
  }
}

/*# sourceMappingURL=media.css.map */
