@use 'index' as *;

.section {
    margin-left: clamp(540px, 45vw, 1200px);
    margin-bottom: 40px;
    width: clamp(542px, 54vw, 1200px);

    /*    overflow-x: hidden;    */
    padding-right: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    width: 200px;
    height: 60px;
    background: $blue;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    position: absolute;
    top: 40px;
    left: calc(-#{$padding-about} - 20px);

    &:before {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        background: white;
        left: 6px;
        box-shadow: 0 0 10px 3px #7caeff;
        border-radius: 50%;
    }

    h1 {
        color: white;
        font-size: 2.5rem;
        font-weight: normal;
        margin-right: 40px;
    }
}

.whoami {
    width: 100%;
    margin-top: 120px;
    margin-bottom: 50px;
    text-align: justify;
    color: $grey-text;
    padding: 0 $padding-about;

    h1 {
        font-size: 3.5rem;
    }

    p {
        margin: 30px 0;
        color: $silver;
        line-height: 30px;
        font-size: 1rem;
    }
}

.bio {
    width: 100%;
    padding-left: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.bio__img {
    width: clamp(200px, 35%, 1200px);
    background: red;
    position: relative;

    &:before,
    &:after {
        content: "";
        position: absolute;
        width: 100;
        height: 100px;

        border: 2px solid $blue;
        background: $blue;
        z-index: -1;
    }

    &:before {
        top: -10px;
        left: -10px;
    }

    &:after {
        bottom: -10px;
        right: -10px;
    }

    img {
        width: 100%;
        height: 300px;
        border-radius: 4px;
    }
}

.bio__data {
    display: flex;
    width: clamp(350px, 50%, 900px);
    height: 100%;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.bio__item {
    margin: 40px 0;

    label {
        font-weight: bold;
        font-size: 1.1rem;
        color: $blue;
    }

    p {
        color: $grey-text;
        margin: 10px 0;
    }
}

.about-skill {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.about-card {
    width: clamp(150px, 30%, 300px);
    height: 200px;

    /*    border: 1px solid #e6e6e6;*/
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid $light-silver;

    &:nth-child(3) {
        border: none;
    }

    >.f-icon {
        width: clamp(50px, 4vw, 80px);
        height: clamp(50px, 4vw, 80px);
        color: $green;
    }

    &:nth-child(2)>.f-icon {
        color: $orange;
    }

    &:nth-child(3)>.f-icon {
        color: $purple;
    }

    h1 {
        margin-top: 40px;
        font-size: 24px;
        color: $grey-text;
    }

    p {
        color: $grey-text;
        margin: 10px 0;
    }
}