@use 'color'as *;
@use 'default'as *;
@use 'keyframes'as k;



.section {
    margin-left: clamp(540px, 45vw, 1200px);
    height: 100vh;
    width: clamp(542px, 55vw, 1200px);    
    padding-right: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.title {
    width: 100px;
    height: 60px;
    background: $background;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 20px;
    position: absolute;
    top: 20px;
    left: -#{$padding-about};

    &:before {
        content: "";
        position: absolute;
        width: 12px;
        height: 12px;
        background: white;
        left: 6px;
        border-radius: 50%;
    }
}

.title--about {
    // @include k.about(a-title, 1s, 5s, 1);
}

.whoami {
    width: 90%;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: justify;
    color: $grey-text;
    padding: 0 $padding-about;
    z-index: 2;

    * {
        color: white;
    }


    h1 {
        font-size: 3.5rem;
        margin-bottom: 20px;
        color: $primary;
        // @include k.about(a-whoami, .5s, 6s, 1);
    }

    p {
        // @include k.about(a-whoami, .5s, 6.4s, 1);
        line-height: 30px;
        font-size: 1rem;
    }

    b {
        color: $primary;
    }
}

.bio {
    width: 95%;
    padding-left: 50px;
    margin-top: 70px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
}

.bio__img {
    width: clamp(200px, 35%, 1200px);
    position: relative;
    // @include k.about(a-info, .5s, 7s, 1);

    &:before,
    &:after {
        content: "";
        position: absolute;
        width: 80px;
        height: 80px;
        border: 3px solid $primary;
        border-radius: $radius;
        z-index: -1;
    }

    &:before {
        top: -15px;
        left: -15px;
        border: 6px solid $primary;

    }

    &:after {
        bottom: -10px;
        right: -10px;
    }

    img {
        width: 100%;
        height: 300px;
        border-radius: $radius;
    }
}

.bio__data {
    display: flex;
    width: clamp(350px, 50%, 900px);
    height: 100%;
    align-items: center;
    justify-content: space-around;
    position: relative;
    filter: opacity(0);
    // @include k.about(a-info, .5s, 7s, 1);
}

.bio__item {
    margin: 40px 0;

    label {
        font-weight: bold;
        font-size: 1.1rem;
        color: $primary;

        //        border-top-right-radius: 20px;
        //        border-bottom-right-radius: 20px;
    }

    p {
        color: white;
        margin: 10px 0;
    }
}

.about-skill {
    width: 95%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.about-card {
    width: clamp(150px, 30%, 400px);
    height: 240px;
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 20px solid $primary;
    border-radius: 15px;
    border-top: 50px solid transparent;
    border-bottom:70px solid transparent;
    background: #20202f;
    box-shadow: 0 0px 4px $primary;

    // @include k.about(a-whoami, .7s, 8s, 1);

    &:nth-child(2) {
        // @include k.about(a-whoami, .7s, 8.2s, 1);
    }

    &:nth-child(3) {
        // @include k.about(a-whoami, .7s, 8.5s, 1);

    }

    > i {
        font-size: 3vw;
        color: $primary;
        text-shadow: 0 0 10px $primary;
    }
}

.a-card-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;

    h1 {
        margin-top: 30px;
        font-size: 22px;
    }

    p {
        margin: 10px 0;
    }    
   
}
