$primary: #F7A91B;
$green: #00ff00;
$orange: #ff5800;
$smoke: rgba(0, 0, 0, 0.4);
$purple: #bc52af;
$grey-text: #4d4d4d;
$silver: #7c7c7c;
$light-silver: #F7A91B;
$padding-about: 30px;
$background:#232533;
$light-background:#2f3140;
$dark-background: #232533;
$text: white;
