$radius: 6px;

@mixin flex($align: center, $justify: center, $dir: row, $wrap: wrap) {
  display: flex;
  flex-direction: $dir;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}
