@use 'color'as *;
@use 'default'as *;

.section--education {
    background: $light-background;
    height: 100vh;
}


.education-title {
    margin: 20px 0;
    padding: 10px 0;
    border-bottom: 3px solid $primary;
    margin-top: 5%;

    h1 {
        color: white;
    }
}

.education-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin-top: 20px;
}


.education-logo {
    width: 40%;
    border-left: 1px solid $primary;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 300px;
        height: 300px;
    }
}

.education-list {
    width: 100%;
    min-width: 420px;
    @include flex(center);
}

.education-item {
    display: flex;
    align-items: center;
    width: 55%;
    height: 120px;
    overflow: hidden;
    border-radius: $radius;
    background: $background;
    margin: 20px 0;
    border: 20px solid $primary;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}


.ei-title {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;

    h1 {
        margin: 0 0 10px 0;
        font-size: 1.5rem;
        color: $primary;
    }

    p {
        font-size: 1.1rem;
        color: $text;
    }
}

.ei-icon {
    color: $primary;
    font-size: 32px;
    @include flex();
    width: 20%;
}

.ei-year {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $text;
    font-weight: bold;
    font-size: 1.5rem;
    position: relative;
    background: $background;
    padding: 20px;
}
