@use 'color'as *;
@use 'default'as *;

$width: 45%;

.section--experience {
  background: linear-gradient($background 50%, $dark-background);
  position: relative;
  flex-direction: row;  
  justify-content: space-around;
  flex-wrap: wrap;
}

.se-title {
  @include flex(center, center, column);
  width: $width;  

  img {
    width: 200px;
  }

  h1 {
    color: #005caa;
    margin: 20px 0 5px 0;
    letter-spacing: 1px;
  }

  h2 {
    color: $text;
    margin-bottom: 10px;
  }

  p {
    color: $text;
  }
}

.se-content{
    width: 100%;
    @include flex();    
}

.se-detail {
  width: 35%;
  background: $primary;
  border-radius: $radius;
  position: relative;
  padding: 15px;
  box-shadow: 0 0 4px $primary;
}

.se-detail-item {
  margin: 20px 0;
  color: white;

  label {
    color: $background;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
  }

  div {
    margin-left: 5px;

    p {
      margin: 10px 0;
    }
  }
}

.se-footer {
  width: $width;
  margin-top: 100px;
  @include flex();

  img {
    width: 70px;
    margin: 0 40px;
    filter: saturate(0);
  }

  .activated {
    filter: saturate(1);
    background: white;
    padding: 10px;
    border-radius: 50%;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 300px;
      height: 300px;
      background: red;
    }
  }
}
